= render("static_pages/navigation.html.haml")
.container 
  - flash.each do |key,value|
    %div{:class => "alert alert-#{key}"}= value  
  .marketing
    %h2{:style=>'text-align: center'} Let's learn more about your personality
    %br
    %center
      <b>If you already know your type (ex. ENTP):</b>
      = form_for :input do |f|
        = text_field :type, 'type', :placeholder => "Enter your personality type here"
        = hidden_field :manual, value: 1
        %input.button{:name => "commit", :type => "submit", :value => "Enter"}/
    %h4 Otherwise, to get your four character personality "type", we need you to answer the following questions:

    = form_for :input do |f|
      <table class="table table-striped table-bordered table-condensed">
      <tr><th>Question</th><th>Answer</th></tr>
      <tr><td>1. Groups need people to get things going; and I'm pretty comfortable doing just that</td>
      <td>
      = f.radio_button 'EI-1', '1'
      me
      %br
      = f.radio_button 'EI-1', '-1'
      not me
      </td></tr>
      <tr class="info"><td> 2. When in conversation with people if details are left out</td>
      <td>
      = f.radio_button 'SN-1', '1'
      I am eager to have them filled in
      %br
      = f.radio_button 'SN-1', '-1'
      I tend to get the picture without the detail
      </td></tr>
      <tr><td>3. When I delegate work, I tend to err on this side</td>
      <td>
      = f.radio_button 'SN-2', '1'
      Being overly specific
      %br
      = f.radio_button 'SN-2', '-1'
      Being too vague
      </td></tr>
      <tr class="info"><td>4. Which do you tend to be </td>
      <td>
      = f.radio_button 'TF-1', '1'
      Tough-minded
      %br
      = f.radio_button 'TF-1', '-1'
      Soft-hearted
      </td></tr>
      <tr><td>5. When working in a team, group harmony is essential:</td>
      <td>
      = f.radio_button 'TF-2', '1'
      No
      %br
      = f.radio_button 'TF-2', '-1'
      Yes
      </td></tr>
      <tr class="info"><td>6. You are seldom late:</td>
      <td>
      = f.radio_button 'JP-1', '1'
      Yes
      %br
      = f.radio_button 'JP-1', '-1'
      No
      </td></tr>
      <tr><td>7. It really bothers you to not have things in their place:</td>
      <td>
      = f.radio_button 'JP-2', '1'
      Yes
      %br
      = f.radio_button 'JP-2', '-1'
      No
      </td></tr>
      <tr class="info"><td>8. I do my best work alone:</td>
      <td>
      = f.radio_button 'EI-2', '1'
      Not me
      %br
      = f.radio_button 'EI-2', '-1'
      Me
      </td></tr>
      <tr><td>9. When making decisions, I tend to methodically review similar past situations:</td>
      <td>
      = f.radio_button 'SN-3', '1'
      Me
      %br
      = f.radio_button 'SN-3', '-1'
      Not Me
      </td></tr>
      <tr class="info"><td>10. When studying a concept like “leadership” which would you most likely prefer to study:</td>
      <td>
      = f.radio_button 'SN-4', '1'
      Real life examples
      %br
      = f.radio_button 'SN-4', '-1'
      Ideas and concepts
      </td></tr>
      <tr><td>11. Being impartial is essential when resolving an issue:</td>
      <td>
      = f.radio_button 'TF-3', '1'
      Yes
      %br
      = f.radio_button 'TF-3', '-1'
      No
      </td></tr>
      <tr class="info"><td>12. In general, you find yourself wishing people would be a little more:</td>
      <td>
      = f.radio_button 'TF-4', '1'
      Cool and logical
      %br
      = f.radio_button 'TF-4', '-1'
      Warm and caring
      </td></tr>
      <tr><td>13. You prefer to keep open-ended plans rather than tie events down:</td>
      <td>
      = f.radio_button 'JP-3', '1'
      No
      %br
      = f.radio_button 'JP-3', '-1'
      Yes
      </td></tr>

      <tr class="info"><td>14. You can trust yourself to improvise more than to plan:</td>
      <td>
      = f.radio_button 'JP-4', '1'
      No
      %br
      = f.radio_button 'JP-4', '-1'
      Yes
      </td></tr>

      <tr><td>15. My best ideas and contributions tend to come through lively give-and-take with others:</td>
      <td>
      = f.radio_button 'EI-3', '1'
      Me
      %br
      = f.radio_button 'EI-3', '-1'
      Not Me
      </td></tr>

      <tr class="info"><td>16. What would likely frustrate you more, an approach that is overly:</td>
      <td>
      = f.radio_button 'SN-5', '1'
      In the clouds
      %br
      = f.radio_button 'SN-5', '-1'
      In the particulars
      </td></tr>

      <tr><td>17. When meeting someone, do you tend to pay attention to:</td>
      <td>
      = f.radio_button 'SN-6', '1'
      Particular physical characteristics
      %br
      = f.radio_button 'SN-6', '-1'
      The "feel" of who they are
      </td></tr>

      <tr class="info"><td>18. Which way are you more inclined to treat people:</td>
      <td>
      = f.radio_button 'TF-5', '1'
      Being brutally honest
      %br
      = f.radio_button 'TF-5', '-1'
      Soft-pedaling the hard facts
      </td></tr>

      <tr><td>19. In study or work decisions I naturally tend to do the things:</td>
      <td>
      = f.radio_button 'TF-6', '1'
      That move the work along
      %br
      = f.radio_button 'TF-6', '-1'
      That help others work well together
      </td></tr>

      <tr class="info"><td>20. It's just part of your nature to complete your tasks on time:</td>
      <td>
      = f.radio_button 'JP-5', '1'
      Yes
      %br
      = f.radio_button 'JP-5', '-1'
      No
      </td></tr>

      <tr><td>21. You prefer to make decisions:</td>
      <td>
      = f.radio_button 'JP-6', '1'
      As soon as practical
      %br
      = f.radio_button 'JP-6', '-1'
      Only when it's all clear
      </td></tr>

      <tr class="info"><td>22. I prefer to share my thanks with:</td>
      <td>
      = f.radio_button 'EI-4', '1'
      Verbal thanks
      %br
      = f.radio_button 'EI-4', '-1'
      A written note
      </td></tr>

      <tr><td>23. Facts:</td>
      <td>
      = f.radio_button 'SN-7', '1'
      speak for themselves
      %br
      = f.radio_button 'SN-7', '-1'
      usually require interpretation
      </td></tr>

      <tr class="info"><td>24. Do you prefer to work with:</td>
      <td>
      = f.radio_button 'SN-8', '1'
      practical information
      %br
      = f.radio_button 'SN-8', '-1'
      abstract ideas
      </td></tr>

      <tr><td>25. I prefer a speech that :</td>
      <td>
      = f.radio_button 'TF-7', '1'
      Informs me
      %br
      = f.radio_button 'TF-7', '-1'
      Inspires me
      </td></tr>

      <tr class="info"><td>26. Head over heart:</td>
      <td>
      = f.radio_button 'TF-8', '1'
      Yes
      %br
      = f.radio_button 'TF-8', '-1'
      No
      </td></tr>

      <tr><td>27. Deadlines are:</td>
      <td>
      = f.radio_button 'JP-7', '1'
      Almost always real and should be followed
      %br
      = f.radio_button 'JP-7', '-1'
      Useful but not always necessary
      </td></tr>

      <tr class="info"><td>28. You sometimes focus so intently on the goal that you may miss new information:</td>
      <td>
      = f.radio_button 'JP-8', '1'
      Yes
      %br
      = f.radio_button 'JP-8', '-1'
      No
      </td></tr>

      <tr><td>29. I find working in large groups of people::</td>
      <td>
      = f.radio_button 'EI-5', '1'
      Energizes me
      %br
      = f.radio_button 'EI-5', '-1'
      Tires me out
      </td></tr>

      <tr class="info"><td>30. If you join up with people who have been working in an area for a long time, would you:</td>
      <td>
      = f.radio_button 'SN-9', '1'
      Assume they know how to do it best
      %br
      = f.radio_button 'SN-9', '-1'
      Keep my eyes open for ways to improve on current systems
      </td></tr>

      <tr><td>31. Which important work would you prefer:</td>
      <td>
      = f.radio_button 'SN-10', '1'
      Execute the plan
      %br
      = f.radio_button 'SN-10', '-1'
      Create the plan
      </td></tr>

      <tr class="info"><td>32. I have little patience for personal interest stories and get irritated when other people get swept up in them.:</td>
      <td>
      = f.radio_button 'TF-9', '1'
      Yes
      %br
      = f.radio_button 'TF-9', '-1'
      No
      </td></tr>

      <tr><td>33. When someone is upset, I tend to want to:</td>
      <td>
      = f.radio_button 'TF-10', '1'
      Understand the underlying issue
      %br
      = f.radio_button 'TF-10', '-1'
      Make sure they feel understood
      </td></tr>

      <tr class="info"><td>34. If you're working, but something really interesting comes along, you're likely to:</td>
      <td>
      = f.radio_button 'JP-9', '1'
      Keep your focus on your work
      %br
      = f.radio_button 'JP-9', '-1'
      Leave your work for the time being
      </td></tr>

      <tr><td>35. Which appeals to you more to:</td>
      <td>
      = f.radio_button 'JP-10', '1'
      Focus and finish
      %br
      = f.radio_button 'JP-10', '-1'
      Create and adapt
      </td></tr>

      <tr class="info"><td>36. I like to stay connected to a large group of friends as opposed to a few:</td>
      <td>
      = f.radio_button 'EI-6', '1'
      Me
      %br
      = f.radio_button 'EI-6', '-1'
      Not me
      </td></tr>

      <tr><td>37. Which do you find a more natural way of seeing how things work:</td>
      <td>
      = f.radio_button 'SN-11', '1'
      Hands-on
      %br
      = f.radio_button 'SN-11', '-1'
      From the balcony
      </td></tr>

      <tr class="info"><td>38. Which would you be more inclined to do in planning :</td>
      <td>
      = f.radio_button 'SN-12', '1'
      Look at specific situations that could occur and plan for them
      %br
      = f.radio_button 'SN-12', '-1'
      Focus in on the core idea of your strategy
      </td></tr>

      <tr><td>39. I put others' needs before my own:</td>
      <td>
      = f.radio_button 'TF-11', '1'
      When it makes sense
      %br
      = f.radio_button 'TF-11', '-1'
      If it will make them feel better
      </td></tr>

      <tr class="info"><td>40. People are amazingly different. So it helps to :</td>
      <td>
      = f.radio_button 'TF-12', '1'
      Have clear, reasonable rules so they can all get along
      %br
      = f.radio_button 'TF-12', '-1'
      Have tons of leeway for individual difference
      </td></tr>

      <tr><td>41. You make "to-do" lists because:</td>
      <td>
      = f.radio_button 'JP-11', '1'
      You just love having lists and finishing things
      %br
      = f.radio_button 'JP-11', '-1'
      Without them you know you might not finish things
      </td></tr>

      <tr class="info"><td>42. When you're still working right up to the deadline you tend to:</td>
      <td>
      = f.radio_button 'JP-12', '1'
      Be frustrated that you didn't finish sooner
      %br
      = f.radio_button 'JP-12', '-1'
      Find it pretty typical and feel energized by the pressure
      </td></tr>

      <tr><td>43. After a long week I prefer to spend Friday night at home with a few friends or alone:</td>
      <td>
      = f.radio_button 'EI-7', '1'
      Not me
      %br
      = f.radio_button 'EI-7', '-1'
      Me
      </td></tr>

      <tr class="info"><td>44. In a group project which job are you more likely to want to take on?</td>
      <td>
      = f.radio_button 'SN-13', '1'
      Assembling the final project
      %br
      = f.radio_button 'SN-13', '-1'
      Coming up with the big picture concept
      </td></tr>

      <tr><td>45. Which seems like a more appealing way to look at a big paper:</td>
      <td>
      = f.radio_button 'SN-14', '1'
      Create a thorough outline
      %br
      = f.radio_button 'SN-14', '-1'
      Identify the 3 big ideas
      </td></tr>

      <tr class="info"><td>46. If I had to fire someone it's most important that:</td>
      <td>
      = f.radio_button 'TF-13', '1'
      They understand why
      %br
      = f.radio_button 'TF-13', '-1'
      They feel cared about
      </td></tr>

      <tr><td>47. In general I prefer to be:</td>
      <td>
      = f.radio_button 'TF-14', '1'
      Fair
      %br
      = f.radio_button 'TF-14', '-1'
      Understanding
      </td></tr>

      <tr class="info"><td>48. When someone is telling you a story, you tend to :</td>
      <td>
      = f.radio_button 'JP-13', '1'
      Need to get to the end result
      %br
      = f.radio_button 'JP-13', '-1'
      Feel no great need to get to the end
      </td></tr>

      <tr><td>49. You find it very easy to change plans mid-stream:</td>
      <td>
      = f.radio_button 'JP-14', '1'
      False
      %br
      = f.radio_button 'JP-14', '-1'
      True
      </td></tr>

      <tr class="info"><td>50. I am able to work in distracting and busy environments:</td>
      <td>
      = f.radio_button 'EI-8', '1'
      Me
      %br
      = f.radio_button 'EI-8', '-1'
      Not me
      </td></tr>

      <tr><td>51. Which are you most comfortable trusting, your:</td>
      <td>
      = f.radio_button 'SN-15', '1'
      Experience
      %br
      = f.radio_button 'SN-15', '-1'
      Intuition
      </td></tr>

      <tr class="info"><td>52. If you had to quickly assess the suitability of an apartment to rent, would you more likely see if it:</td>
      <td>
      = f.radio_button 'SN-16', '1'
      Meets your specific requirements
      %br
      = f.radio_button 'SN-16', '-1'
      Just feels right
      </td></tr>

      <tr><td>53. People say I am too analytical about things:</td>
      <td>
      = f.radio_button 'TF-15', '1'
      Yes
      %br
      = f.radio_button 'TF-15', '-1'
      No
      </td></tr>

      <tr class="info"><td>54. People say I need to stop worrying about others so much:</td>
      <td>
      = f.radio_button 'TF-16', '1'
      No
      %br
      = f.radio_button 'TF-16', '-1'
      Yes
      </td></tr>

      <tr><td>55. I derive pleasure from organizing my life:</td>
      <td>
      = f.radio_button 'JP-15', '1'
      True
      %br
      = f.radio_button 'JP-15', '-1'
      False
      </td></tr>

      <tr class="info"><td>56. When something unexpected happens your natural tendency is to</td>
      <td>
      = f.radio_button 'JP-16', '1'
      Act
      %br
      = f.radio_button 'JP-16', '-1'
      Wait and watch
      </td></tr>

      <tr><td>57. At a social gathering my conversations tend to be :</td>
      <td>
      = f.radio_button 'EI-9', '1'
      Numerous and varied
      %br
      = f.radio_button 'EI-9', '-1'
      Few and in depth
      </td></tr>

      <tr class="info"><td>58. How would you more likely be described:</td>
      <td>
      = f.radio_button 'SN-17', '1'
      Realistic
      %br
      = f.radio_button 'SN-17', '-1'
      Imaginative
      </td></tr>

      <tr><td>59. Which appeals to you more :</td>
      <td>
      = f.radio_button 'SN-18', '1'
      Building
      %br
      = f.radio_button 'SN-18', '-1'
      Designing
      </td></tr>

      <tr class="info"><td>60. People who know me well, are more likely to come to me for:</td>
      <td>
      = f.radio_button 'TF-17', '1'
      Solutions
      %br
      = f.radio_button 'TF-17', '-1'
      Caring
      </td></tr>

      <tr><td>61. I am one of the first people a friend goes to when seeking consolation or sympathy:</td>
      <td>
      = f.radio_button 'TF-18', '1'
      No
      %br
      = f.radio_button 'TF-18', '-1'
      Yes
      </td></tr>

      <tr class="info"><td>62. The idea of having a plan on vacation is :</td>
      <td>
      = f.radio_button 'JP-17', '1'
      Comforting
      %br
      = f.radio_button 'JP-17', '-1'
      Odd
      </td></tr>

      <tr><td>63. In the long run, what's better for a team working on a project:</td>
      <td>
      = f.radio_button 'JP-18', '1'
      Excellent results
      %br
      = f.radio_button 'JP-18', '-1'
      Excellent process
      </td></tr>

      <tr class="info"><td>64. I often let calls go to voicemail because I don't feel like talking:</td>
      <td>
      = f.radio_button 'EI-10', '1'
      Not me
      %br
      = f.radio_button 'EI-10', '-1'
      Me
      </td></tr>

      <tr><td>65. With a set of Tinkertoys (varied shaped and colored toys to assemble), which would you be more likely to do first:</td>
      <td>
      = f.radio_button 'SN-19', '1'
      Sort the pieces in like groups
      %br
      = f.radio_button 'SN-19', '-1'
      Envision what you might build
      </td></tr>

      <tr class="info"><td>66. When approaching a problem are you more at ease moving through it:</td>
      <td>
      = f.radio_button 'SN-20', '1'
      Step-by-step
      %br
      = f.radio_button 'SN-20', '-1'
      Seeing the whole picture
      </td></tr>

      <tr><td>67. Over the long haul, it's worse to be:</td>
      <td>
      = f.radio_button 'TF-19', '1'
      Too personal
      %br
      = f.radio_button 'TF-19', '-1'
      Too objective
      </td></tr>

      <tr class="info"><td>68. Which appeals to you more:</td>
      <td>
      = f.radio_button 'SN-21', '1'
      Facts
      %br
      = f.radio_button 'SN-21', '-1'
      Concepts
      </td></tr>

      <tr><td>69. Unfinished business bothers you:</td>
      <td>
      = f.radio_button 'JP-19', '1'
      True
      %br
      = f.radio_button 'JP-19', '-1'
      False
      </td></tr>

      <tr class="info"><td>70. Which best taps your natural skills on a project:</td>
      <td>
      = f.radio_button 'JP-20', '1'
      Doing good planning on the front end
      %br
      = f.radio_button 'JP-20', '-1'
      Contributing with great energy in the final push
      </td></tr>

      <tr><td align="right" colspan="2">
      %input.button{:name => "commit", :type => "submit", :value => "Submit"}
      </td></tr></table>
%script{:type => "text/javascript"} 
  $(document).ready(function(){
  $.fn.prettyPhoto({ social_tools: false });
  $.prettyPhoto.open('http://www.youtube.com/watch?v=QUv3rSI2NAc','Welcome to LeadU','An introduction to the Personality Tool');
  });
